Dear Customer,
You have successfully paid Rs. ${transaction.amount} to  ${info} on ${transaction.created}.
Transaction Id : ${transaction.transactionRefNo}
Hope you have pleasant experience.
Thanks, 
TriPay 